NODE_ENV=development
PORT=4010
TZ=Europe/Brussels
DATABASE_PATH=database.sqlite
FRONTEND_URL=http://127.0.0.1:5173
URL=http://127.0.0.1:${PORT}
TARGET_PLAYLIST_ID=1pJO26tWnsZRAfVl1hT5Dp

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=